* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: #FFCD4F;
  text-align: center;
}

.App {
  margin-top: 30vh;
}

.logo-container {
  display: grid;
  height: 100%;
  padding: 50px;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}